* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#tag-form {
    align-items: center;
  justify-content:center
}

.tagmap {
    text-align: right;
}

#results {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#results li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    font-weight: bold;
    cursor: default;
}

#results li:hover {
    background-color: #0099cc;
}

header, footer {
    background-color: #7e7e7e;
    color: #ffffff;
    padding: 15px;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

input {
    padding: 3px;
}

#submit {
    margin-top: 7px;
}
